* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background: #eee;
    background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
    padding: 0 16px;
}

.navbar {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1,
.navbar h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color: #ccc;
}

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note h1 {
    color: #f5ba13;
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #f5ba13;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;

    font-size: 1.5em;
}

form.create-note,
form.login,
.note.big,
main > .content .information {
    position: relative;
    width: 50%;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.note.big,
main > .content .information {
    width: 75%;
    min-height: 400px;
}

form.create-note input,
form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}

form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    font-size: 1.5em;
}

form.create-note button:hover {
    background: #eee;
    color: #fff;
}

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    /* float: left; */
}

.noteContent {
    white-space: pre-line;
}

.noteAuthor p {
    color: #f5ba13;
}

form.login button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    border: none;
}

form.login button:hover,
form.login button:active:hover:focus,
form.login button:active:any-link {
    background: #eee;
    color: #f5ba13;
}

.loginform,
main > .content {
    margin: 50px;
}

.loginform h1,
main > .content h1 {
    color: dimgray;
    margin-bottom: 10px;
    text-align: center;
}

.loginform a,
main > .content .information a {
    color: #f5ba13;
}

.menu a.nav-link {
    font-weight: bold;
    margin: 5px;
}

.menu a.nav-link:hover {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.menu a.nav-link.active {
    color: #f5ba13 !important;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.note {
    min-height: 350px;
    height: 350px;
    position: relative;
}

.note .action {
    border-top: 1px solid #c0c0c0;
    height: 50px;
    bottom: 0;
    position: absolute;
    width: 90%;
    padding: 10px 0;
}

.note .author {
    position: absolute;
    right: 10px;
    top: 10px;
}

.author:hover {

}

.note .actionLeft {
    position: absolute;
    bottom: 0;
    left: 10px;
    margin-bottom: 3px;
}

.detail-page {
    width: 70%;
    margin: 100px auto;
    background: #fff;
    padding: 15px 10vh 15px 10vh;
    border-radius: 7px;
    min-height: 50vh;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.detail-page h1 {
    color: dimgray;
    margin-bottom: 5vh;
    text-align: center;
    font-size: 32pt;
}

.detail-page > .detail-author {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 3px;
    color: #f5ba13;
}

.title-edit {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    color: dimgray;
    margin-bottom: 5vh;
    text-align: center;
    font-size: 32pt;
}

.content-edit {
    width: 100%;
    height: 20vh;
    border: none;
    padding: 4px;
    outline: none;
    color: dimgray;
    margin-bottom: 5vh;
    font-size: 16pt;
    text-align: start;
    resize: none;
}

.btn-edit {
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 5%;
    min-width: 15vh;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    font-size: 1.5em;
}

.btn-edit:hover {
    background: #eee;
    color: #f5ba13;
}