* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;

  font-size: 1.5em;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  font-size: 1.5em;
}

form.create-note button:hover {
  background: #eee;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-right {
  margin-right: 20px;
}

.header-right a {
  margin-left: 10px;
  text-decoration: none;
}

.login-block {
  max-width: 25%;
  margin: 0 auto;
}

#password-group {
  margin-bottom: 20px;
}

.login-block label {
  display: block;
  margin-bottom: 5px;
}

.login-block input[type="email"],
.login-block input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-block button[type="submit"] {
  background-color: #f5ba13;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.login-block h2 {
  text-align: center;
}


.signup-link a {
  color: #f5ba13;
  font-size: 14px;
}

.formconnexion {
  background-color: white;
  padding: 20px;
}

.signup-block {
  max-width: 25%;
  margin: 0 auto;
}

#password-group {
  margin-bottom: 20px;
}

.signup-block label {
  display: block;
  margin-bottom: 5px;
}

.signup-block input[type="text"],
.signup-block input[type="email"],
.signup-block input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signup-block button[type="submit"] {
  background-color: #f5ba13;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.signup-block h2 {
  text-align: center;
}

.login-link a {
  color: #f5ba13;
  font-size: 14px;
}

.forminscription {
  background-color: white;
  padding: 20px;
}

.a-link {
  color: black;
  text-decoration: none;
  margin-right: 1rem;
  background-color: transparent;
  border-radius: 4px;
  padding: 6px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 15px;
}

.a-link:hover {
  color: #f5ba13;
  padding: 6px;
  background-color: white;
  font-weight: bold;
}

.btn-link {
  color: black;
  margin-right: 1rem;
  padding: 6px;
  border-radius: 4px;
  border: 0px solid black;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  font-size: 15px;
}

.btn-link:hover {
  color: #f5ba13;
  padding: 6px;
  background-color: white;
  font-weight: bold;
}


.authors-block {
  background-color: white;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 4px;
  width: 80%;
}

.authors-table {
  width: 100%;
  border-collapse: collapse;
}

.authors-table th,
.authors-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.authors-table th {
  background-color: #f2f2f2;
}

.user-notes {
  margin-top: 2rem;
}

.user-notes table {
  width: 100%;
  border-collapse: collapse;
}

.user-notes table th,
.user-notes table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.user-notes table th {
  background-color: #f2f2f2;
}

h1.Authorstitle {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.authors-block {
  background-color: white;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 4px;
  width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-bottom: 20px;
}
